/* BASE STYLES */
body {
  background: #fff;
  /* color: rgba(0, 0, 0, 0.87); */
  color: #333;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
p {
  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
ul,
li {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 3;
  font-size: 22px;
}
h2,
h3,
h4 {
  font-family: "Graphik-Extralight", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Graphik-Extralight";
  src: url("./fonts/Graphik-Extralight_woff.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica Neue CE 35 Thin.ttf") format("truetype");
  src: url("../fonts/Helvetica Neue CE 35 Thin.ttf") format("truetype");
  src: url("../fonts/Helvetica.ttf") format("truetype");
}
::-moz-selection {
  background-color: #fff;
  /* background: #b3d4fc; */
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

h1 {
  font-size: 75px;
  font-family: "Lobster", cursive;
  margin: 0 auto;
  padding-left: 100px;
}

h2 {
  font-size: 35px;
  color: #ff4337;
}
/* SEARCH BAR */
.search-container {
  margin: 32px;
}
input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: 2px solid #000;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  font-family: "Graphik-Extralight", Arial, Helvetica, sans-serif;
}
.song-search {
  display: flex;
}
button {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  /* background-color: #ececec; */
}
.search-icon {
  padding-top: 3px;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 25px;
}
.burger {
  margin: 40px;
}

/* RESULTS BOX */
ul {
  list-style: none;
}
.results-container {
  border: 2px solid #29aad4;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 17px 2px rgba(219, 219, 219, 1);
}

.results-left {
  margin: 10%;
}

.results-right {
  margin: 5%;
}

.result {
  border-radius: 10px;
}

/* FOOTER */
footer {
  /* width: 100%; */
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  text-align: center;
  background-color: #333333;
  /* padding: 64px 0 0; */
  /* position: fixed; */
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  height: 200px;
}

footer p {
  color: #fff;
  font-size: 12px;
}
